*.pyc
*.m~
*.mat
*.mex*
*.dll
*.caffemodel
*.solverstate
global_variables.m
global_variables.py
data
datasets/
caffe_models/*.zip
*deformed*
experiments
*\.idea*
caffe-r4cnn/
pbs_scripts/
train/old/
train/progress_web_server/.env/
view_estimation_correspondences/eval_scripts/visualizations
*.caffemodel

