body {
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: scroll;
}

table tr:nth-child(even) {
	background-color: #EEEEEE;
}

td {
	padding: 7px;
}

td:nth-child(3) {
	max-width: 1000px;
}

.running {
	background-color: #AAFFAA;
}